.blog{
    flex: 9;
}
.single-blog-wrapper{
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}
.blogimage{
    width: 100%;
    height: 300px;
    border-radius: 7px;
    object-fit: cover;

}
.blogtitle{
    text-align: center;
    font-size: 29px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.blogtitleinput{
    text-align: center;
    font-size: 29px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid gray;
}
.blogtitleinput:focus{
    outline: none;

}
.edit-blog{
    float: right;
    font-size: 16px;
 
}
.edit-icons{
    margin: 10px;
    cursor: pointer;
}
.blog-info{
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 10px;
   
}
.blog-disc{
    color: #666;
    font-style: 18px;
    line-height: 25px;
}
.blog-discinput{
    text-align: center;
    border: none;
   
}
.blog-discinput:focus{
    outline: none;
}
.blog-disc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}
.updatebutton{
    border: none;
    background-color: blueviolet;
    padding: 5px;
    text-align: center;
    width: 100px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    .blogimage{
        width: 95%;
       
    
    }
   
  }