.profile{
    padding: 20px;
}
.profile-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.update-title{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}
.delete-title{
    color: red;
    font-size: 12px;
    cursor: pointer;
}
.profile-form{
    display: flex;
    flex-direction: column;
    justify-content:center ;
   

}
.profile-picture{
    display: flex;
    align-items: center;
    margin-top:10px;
    justify-content: center;
    margin-bottom: 10px;
}
.profile-img{
    width: 70px;
    height: 70px;
    border-radius: 30%;
    object-fit: cover;
}
.profile-icon{
    width: 25px;
    height: 25px;
    box-sizing: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
.profile-form > label{
font-size: 20px;
margin-top: 20px;
}
.profile-form > input{
   color: grey;
   margin: 10px 0;
   height: 30px;
   border: none;
   border-bottom: 1px solid lightslategray;
}
.profile-submit{
    width: 130px;
    height: 35px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    cursor: pointer;
    margin-top:20px ;
}
.profile-form > input:focus{
    outline:none;
 }